*{
    padding: 0px;
    margin: 0px;
}

.hamburguesa{
    display: flex;
    flex-flow: column wrap;
    width: 10%;
    padding: 10px;
    justify-content: center;
    align-items: center; 
    position: absolute;
    left: 35%;
    transition: all 3s ease;
    animation-name: aparecer;
    animation-duration: 4s;
}

.hidden{
    display: none;
}

    .hamburguesa:hover{
        display: flex;
        width: 25rem;
    }

    h1{
        background: red;
        color: white;
        padding: 5px;
        text-align: center;
    }

    h2{
        text-align: center;
        padding: 10px;
    }

    /*PAN*/
    .pan{
        background: #E4B05A;
        width: 70%;
        padding: 25px 0px 20px 0px;
        color: #E1B15C; 
        border-radius: 60px 60px 10px 10px;
        border-bottom: 0.5rem solid #C89E4E;
        text-align: center;

    }

    /*QUESO*/
    .queso{
        background: #ECC215;
        border-bottom: 2px solid#D1A244;
        width: 80%;
        color: #ECC215;
    }

    /*TOMATE*/
    .tomate{
        background: #DB380D;
        border-bottom: 2px solid rgb(155, 43, 43);;
        width: 55%;
        color: #DB380D;
        padding: 8px;
    }

    /*CEBOLLA*/
    .cebolla{
        background: #8D39AA;
        width: 55%;
        color: #8D39AA;
        border: 6px dashed  rgb(185, 152, 196);
    }

    /*?????*/
    .circulo{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

        .item{
            flex: 1 1 auto;
            background: #72390B;
            border-radius: 100px;
            padding: 20px 30px;
            margin: 0px 5px;
            color: #72390B;;
        }

    /*LECHUGA*/
    .lechuga{
        background: #3BC581;
        width: 60%;
        color: #3BC581;
        padding: 5px;
        border-radius: 0px 0px 60px 60px;
        border-bottom: 0.5rem solid #3A9655;
    }

    /*CARNE*/
    .carne{
        background: #AD370B;
        border-bottom: 2px solid brown;
        width: 80%;
        border-radius: 20px;
        padding: 10px;
        color: #AD370B;
    }

    /*PAN*/
    .pan-2{
        background: #E1B15C;
        border-top: 0.5rem solid #C89E4E;
        width: 70%;
        border-radius: 40px 40px 60px 60px;
        color: #E1B15C;
        padding: 10px;
    }

    /*PLATO*/
    .plato{
        background: #656568;
        color: #656568;
        border-radius: 0px 0px 60px 60px;
        text-align: center;
        width: 100%;
        padding: 5px;
    }

    /*BTN MOSTRAR*/
    #btn{
        padding: 30px;
        border-radius: 10px;
        margin: 50px;
        color: white;
        border: none;
        background: red;
        font-size: 20px;
        cursor: pointer;
    }

        #btn:hover{
            background: rgb(180, 56, 56);
        }

    /*BTN CERRAR*/

    .btnCerrar{
        color: white;
        background-color: red;
        border-radius: 4px;
        border: none;
        padding: 8px;
        width: 5%;
        cursor: pointer;
        display: block; 
        text-align: center;
        position: absolute;
        right: 5px;
        top: 10px;
    }

    @keyframes aparecer{
        from{opacity: 0;}
        to{opacity: 1;}
    }